<div class="container">
  <% @products.each do |product| %>
  <div class="col-sm-6 col-md-3 ">

    <div class="thumbnail">
      <a href="<%= product_path(product) %>"><%= image_tag product.image.thumb, class:"img-grouded" %></a>
      <div class="caption">
        <h4><%= product.title %></h4>
        <p>售价：<%= product.price %></p>
        <p><%= link_to("加入购物车", add_to_cart_product_path(product), method: :post, class: "btn btn-danger") %>
          <a href="#" class="btn btn-default" role="button">加入收藏夹</a></p>
      </div>
    </div>

  </div>
  <% end %>
</div>
